<div class="welcomepage">
  <h2>Hygge Box Logo</h2>
  <figure>
     <img src="http://placehold.it/1500x500?text=Photo of Box goes here">
     <figcaption>Buy a rad hyggebox ❤ ❤ ❤ ❤ ❤</figcaption>
  </figure>
  <br>
  <hr>
  <br>
  <div class="about">
    <h2>WELCOME</h2>
    <p>Hygge (pronounced hue-guh not hoo-gah) is a Danish word used when acknowledging a feeling or moment, whether alone or with friends, at home or out, ordinary or extraordinary as cosy, charming or special. <em>Welcome to HyggeBox</em>, the world's coziest subscription service! Founded in 2017 by cool-girl Veronica maybe-Montgomery? It's great and you should subscribe! We have 3 options for purchasing, one time 6 month 12 month. More info etc!</p>
  </div>
  <br>
  <hr>
  <br>
  <div class="products">
    <div class="row">
      <h2>OUR PRODUCTS</h2>
      <div class="row">
        <div class="col-md-4">
          <figure>
             <img src="http://placehold.it/500x500?text=Photo of This Month Box">
             <figcaption>This Month's Box ❤ ❤ ❤ ❤ ❤</figcaption>
          </figure>
        </div>
        <div class="col-md-4">
          <figure>
             <img src="http://placehold.it/500x500?text=Photo of 6 Month Box">
             <figcaption>6 Month Subscription ❤ ❤ ❤ ❤ ❤</figcaption>
          </figure>
        </div>
        <div class="col-md-4">
          <figure>
             <img src="http://placehold.it/500x500?text=Photo of Year Box">
             <figcaption>Year Subscription ❤ ❤ ❤ ❤ ❤</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
