<div id="coverImageDiv">
  <img id="coverImage" src="./../../assets/img/product-detail-img.jpg" alt="">
</div>

<div class="container">
  <br>
  <br>

  <div id="hyggeDefinition">
    <br>
    <div class="row justify-content-md-center">
      <div class="col-sm-10">
        <p id="welcome">Welcome to HyggeBox, the world's coziest subscription service! Founded in 2017 by Veronica Messinger. It's great and you should subscribe! We have 3 options for purchasing, one time 6 month 12 month. More info etc!</p>
      </div>
    </div>

    <br>
    <hr>
    <div class="row justify-content-md-center">
      <div class="col-sm-6">
        <p><span id="hyggeDefinitionTitle">Hygge</span><br />[hoo-gah] noun <br /><br />1. is a word used when acknowledging a feeling or moment, whether alone or with friends, at home or out, ordinary or extraordinary as cosy, charming or special.</p>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="products">
    <h2>OUR PRODUCTS</h2>
    <div class="row justify-content-center">

      <div *ngFor="let box of boxes | async" class="col-4  card">

          <div class="card-body">
            <img src="{{box.img}}" (click)="goToDetailPage(box)">
          </div>
  </div>
</div>
