#coverImage {
    padding-top: 240px;
    display: block;
    width: 100%;
    height: auto;
}

#hyggeDefinition h2{
  text-align: center;
  display: block;
  font-weight: 600;
  font-size: 42px;
}

#hyggeDefinition p {
  display: block;
  width: 100%;
  height: auto;
}

#hyggeDefinitionTitle {
  font-size: 24px;
}

#hyggeDefinition #welcome {
  font-size: 24px;
  text-align: center;
}

img {
  width: 350px;
}

.card {
  border: none;
}

#cent {
  text-align: center;
}

hr.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}
