<div class="veronicaProfileImage">
  <img id="veronicaProfileImage" src="./../../assets/img/veronica-profile-img.jpg">
</div>

<div class="container">
  <br>
  <br>
  <br>
  <h1 id="aboutHeader">Veronica Messinger, Founder.</h1>

  <hr class="style12">
  <br>
  <h3>A note from Veronica:</h3>
  <p>Hi and thanks for visiting HyggeBox! The concept of hygge is a part of my Norweigen heritage that I've always found to be important to my overall health and happiness. I'm excited to share this concept of hygge with you and your loved ones. About a year ago I had a dream to start this company encompassing all things cozy and valued this lifestyle of being present, happy, and comfortable. I strive to use local products in these boxes to incorporate a sense of community and practice sustainability. Hope you enjoy all of the items I've curated and spread the love!
<br>
<br>
<br>
  &hearts; Veronica Messinger
  <br>
    CEO HyggeBox</p>
</div>
