#veronicaProfileImage {
    display: block;
    width: 30%;
    margin: auto;
    border-radius: 2000px;
}

.veronicaProfileImage {
  padding-top: 140px;
}

hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}
