.oneMonthDetails {
  padding-left: 100px;
}

.sixMonthDetails {
  padding-left: 100px;
}

.twelveMonthDetails {
  padding-left: 100px;
}

ul {
  list-style-type: none;
}
/*.carousel {
  z-index: -99;
  height: 100%;
  width: 100%;
 }*/
