<div class="container">
  <div class="row justify-content-center">
    <div class="col-10" id="prod-row">
      <div class="card">
        <img class="card-img-top" src="{{boxToDisplay?.img}}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{boxToDisplay?.name}}</h4>
          <h5 *ngIf="currentRoute === '/boxes/0'">Our Next Box:</h5>
          <h5 *ngIf="currentRoute === '/boxes/1'">Every Month You Will Receive:</h5>
          <h5 *ngIf="currentRoute === '/boxes/2'">Every Month You Will Receive:</h5>
          <ol>
            <li *ngFor="let item of boxToDisplay?.boxContents">{{item}}</li>
          </ol>
          <h4>${{boxToDisplay?.price}}</h4>
          <button class="btn btn-basic" (click)="addToCart(boxToDisplay?.name, boxToDisplay?.price, boxToDisplay?.monthsRemaining)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="currentRoute === '/box/one-month'" class="oneMonth" >

<div *ngIf="currentRoute === '/box/one-month'" class="oneMonth" >

  <div class="row" style="height:1000px;font-size:36px">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="./src/assets/img/product1-img1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="./src/assets/img/product1-img2.jpg" alt="Second slide">
        </div>
      </div>
    </div>
  </div>
  <div class="oneMonthDetails">
    <h1>Current Month's Box</h1>
    <div class="card">
    <div class="card-body">

    </div>
  </div>
      <a href="/box/six-month">I'm interested in a 6 month subscription</a>
      <br>
      <a href="/box/twelve-month">I'm interested in a  year subscription</a>

    <div class="purchaseButton">
      <button (click)="addToCart('single box', 35, 0)" class="btn btn-info">Purchase!</button>
    </div>
  </div>

</div>

<div *ngIf="currentRoute === '/box/six-month'" class="sixMonth" >
  <div class="row" style="height:1000px;font-size:36px">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="./src/assets/img/test-image3.jpeg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="./src/assets/img/test-image4.jpeg" alt="Second slide">
        </div>
      </div>
    </div>
  </div>
  <div class="sixMonthDetails">
    <h1>six month Subscription</h1>
    <ul>
      <li>Socks</li>
      <li>Choco Treats!</li>
      <li>Really Good coffee or tea</li>
      <li>Local Honey</li>
      <li>cute notebook!</li>
    </ul>
    <a href="box/one-month">I'm interested in this months box</a>
    <br>
    <a href="box/twelve-month">I'm interested in a  year subscription</a>
    <div class="purchaseButton">
      <button (click)="addToCart('6 Month Box (Subscription)', 210, 6)" class="btn btn-info">Purchase!</button>
    </div>
  </div>

</div>

<div *ngIf="currentRoute === '/box/twelve-month'" class="year">
  <div class="row" style="height:1000px;font-size:36px">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="./src/assets/img/test-image5.jpeg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="./src/assets/img/test-image6.jpeg" alt="Second slide">
        </div>
      </div>
    </div>
  </div>
  <div class="twelveMonthDetails">
    <h1>Twelve Month box</h1>
    <ul>
      <li>Socks</li>
      <li>Choco Treats!</li>
      <li>Really Good coffee or tea</li>
      <li>Local Honey</li>
      <li>cute notebook!</li>
    </ul>
    <a href="box/six-month">I'm interested in a 6 month subscription</a>
    <br>
    <a href="box/one-month">I'm interested in a  one month</a>
    <div class="purchaseButton">
      <button (click)="addToCart('12 Month Box (Subscription)', 420, 12)" class="btn btn-info">Purchase!</button>
    </div>
  </div>
</div> -->
