<div id="phoneImageDiv">
  <img id="phoneImage" src="./../../assets/img/phone.jpg">
</div>
<br>
<br>
<div class="container">
  <h1>Have a question?</h1>
  <br>
  <!--  -->
  <div id="contactInfo" class="row">
    <div class="col-sm-4">
      <div class="card border-0" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Address:</h4>
          <p class="card-text">400 SW 6th Ave <br> Portland, OR 97204</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border-0" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Phone:</h4>
          <p class="card-text">(503) 123-4567</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border-0" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Email:</h4>
          <p class="card-text"><a href="mailto:hyggebox.pdx@gmail.com" class="card-link">hyggebox.pdx@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
<!--  -->
  <hr>
  <br>
  <h4>Fill out the form below and we'll get back to you ASAP!</h4>
  <br>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name" #name required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" #email required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputMessage">Message</label>
      <textarea class="form-control" id="inputMessage" rows="4" #message required></textarea>
    </div>
    <button class="btn btn-basic" (click)="contact(name.value, email.value, message.value)">Submit</button>
  </form>

<!-- container -->
</div>
