<h1>Your cart</h1>
<!-- Boxes in the cart and the total price-->
<h2>Shipping Address</h2>
<h4>Please enter a shipping address</h4>
<form class="shipping" action="index.html" method="post">
  <label for="first">First Name:</label>
  <input type="text" name="first" value="">
  <label for="last">Last Name:</label>
  <input type="text" name="last" value="">
  <label for="street">Street Address:</label>
  <input type="text" name="street" value="">
  <label for="address">Address 2:</label>
  <input type="text" name="street2" value="">
  <label for="city">City:</label>
  <input type="text" name="city" value="">
  <label for="state">State:</label>
  <input type="text" name="state" value="">
  <label for="zipcode">Zip Code:</label>
  <input type="text" name="street" value="">
</form>

<h2>Biling</h2>

<h3>Promo code:</h3>

<h3>Is this a gift?</h3>
