<nav class="navbar navbar-light bg-transparent sticky-">
  <a class="navbar-brand" href="/">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <ng-container *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="profile">{{userName}}'s Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Log out</a>
        </li>
      </ng-container>
      <li class="nav-item" *ngIf ="!isLoggedIn">
        <a class="nav-link" (click)="login()">Log in</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer id="myFooter">
  <div class="container">
    <h4><a>Sign up for our newsletter</a></h4>
    <br>
    <form class="newsletter" action="index.html" method="post">
      <label for="email">Email:</label>
      <input type="text" name="newsletter" placeholder="Enter your email" value="">
      <button class="btn btn-basic" type="submit" name="button">Add me</button>
    </form>
    <br>
      <!-- <ul>
          <li><a href="#">Contact us</a></li>
      </ul> -->
  <p class="footer-copyright">© 2017 Copyright Karla Buckner, Dawson Mortenson, Riki Montgomery, Sara Spink</p>
  </div>
  <div class="footer-social">
    <h4>Find us on social media</h4>
    <br>
      <a href="https://facebook.com/hyggeboxdx" class="social-icons"><i class="fa fa-facebook"></i></a>
      <a href="https://pinterest.com/hyggeboxdx" class="social-icons"><i class="fa fa-pinterest"></i></a>
      <a href="https://twitter.com/hyggeboxpdx" class="social-icons"><i class="fa fa-twitter"></i></a>
      <a href="https://instagram.com/hyggeboxpdx" class="social-icons"><i class="fa fa-instagram"></i></a>
  </div>
</footer>
