<nav id="navbar" class="navbar-fixed-top navbar-light bg-transparent">
  <a class="navbar-brand" href="/">{{title}}</a>
  <button id="navButton" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a (click)="showNewsletterAcrossPages()" class="nav-link" routerLink="contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <ng-container *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="profile">{{userName}}'s Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Log out</a>
        </li>
      </ng-container>
      <li class="nav-item" *ngIf ="!isLoggedIn">
        <a class="nav-link" (click)="login()">Log in</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer id="myFooter">
  <div class="container">
    <h4><a>Sign up for our newsletter</a></h4>
    <br>
    <div class="form-group row justify-content-center">
      <!-- <label class="col-2 col-form-label" for="email">Email:</label> -->
      <input class="form-control col-4" type="text" name="newsletter" placeholder="Enter your email" value="">
      <span class="input-group-btn">
        <button (click)="goToNewsletterConfirmation()" class="btn btn-secondary" type="button">Sign Up!</button>
      </span>
    </div>
    <br>
  </div>
  <div class="footer-social">
      <a href="https://www.facebook.com/hygge.box.1" target="_blank" class="social-icons"><i class="fa fa-facebook"></i></a>
      <a href="https://pinterest.com/hyggeboxpdx/hyggeboxes" target="_blank" class="social-icons"><i class="fa fa-pinterest"></i></a>
      <a href="https://twitter.com/hyggeboxpdx" target="_blank" class="social-icons"><i class="fa fa-twitter"></i></a>
      <a href="https://instagram.com/hyggeboxpdx" target="_blank" class="social-icons"><i class="fa fa-instagram"></i></a>
      <br>
      <br>
        <p class="footer-copyright">© 2017 Copyright Karla Buckner, Dawson Mortenson, Riki Montgomery, Sara Spink</p>
  </div>
</footer>
