<div class="container">
  <h1>Thank you for your order!</h1>
  <div id="billingAndShipping" class="row">
    <div class="col-md-6">
      <div class="card border-0" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Billing Address:</h4>
          <p class="card-text">User Billing Info <br> Goes Here!</p>
          <button class="btn btn-success" name="button">Edit Billing Address</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-0" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Shipping Address:</h4>
          <p class="card-text">User Shipping Info <br> Goes Here!</p>
          <button class="btn btn-success" name="button">Edit Shipping Address</button>
        </div>
      </div>
    </div>
  </div>
</div>
