<div class="container">
  <h1>Thank you for your order!</h1>
  <div id="billingAndShipping" class="row">
    <div class="col-md-6">
      <div class="card border-0" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Billing Address:</h4>
          <p class="card-text">
            {{cartInfo?.billingStreet}} {{cartInfo?.billingStreet2}}<br>
            {{cartInfo?.billingCity}}, {{cartInfo?.billingState}} {{cartInfo.billingZip}}
          </p>
          <!-- <button class="btn btn-success" name="button">Edit Billing Address</button> -->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-0" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Shipping Address:</h4>
          <p class="card-text">
            {{cartInfo?.shippingStreet}} {{cartInfo?.shippingStreet2}}<br>
            {{cartInfo?.shippingCity}}, {{cartInfo?.shippingState}} {{cartInfo.shippingZip}}
          </p>
          <!-- <button class="btn btn-success" name="button">Edit Shipping Address</button> -->
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div id="orderdetails" class="row">
    <div class="row">
      <div class="col-md-6">
        <!-- <figure>
          <img src="{{boxImg}} picked this box!">
          <figcaption>Box Type! Maybe quantity! ❤ ❤ ❤ ❤ ❤</figcaption>
        </figure> -->
      </div>
      <div class="col-12">
        <h4 class="card-title">Order Details:</h4>
        <p class="card-text">{{cart.name}}</p>
        <h4> Order Total: {{cart.price}} </h4>
        <button class="btn btn-success" (click)="confirm()" name="button">Confirm Order</button>
        </div>
      </div>
    </div>

  </div>
